body
{
	font-family: Verdana;
	font-size: 10pt;
	background-color: #dddddd;
	border:0px;
	margin:0px;
}
h1
{
	font-family: Arial;
	font-size: 20pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF0000;
	letter-spacing: 5pt;
	border:0px;
	margin:0px;
}

.links
{
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.footer 
{
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

h2
{
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
	color: #000080;
}